<div class="panel panel-default">
  <div class="panel-heading">
      <i class="fa fa-bell fa-fw"></i> Add New User
  </div>
  <div class="panel-body">
    <input type="text" id="username" placeholder="Username" class="form-control" />
    <input type="password" id="password" placeholder="Password" class="form-control" />
    <button type="submit" id="btn-add-user" class="btn btn-default btn-block" >Add</button>
  </div>
</div>