<div class="panel panel-default">
  <div class="panel-heading">
      <i class="fa fa-bell fa-fw"></i> Add New User
  </div>
  <div class="panel-body">
    <input type="text" id="username" placeholder="Username" class="form-control" />
    <input type="password" id="password" placeholder="Password" class="form-control" />
    <select name="gender" class="form-control" placeholder="Gender" id="gender">
    	<option value="0">Sex</option>
    	<option value="1">Male</option>
    	<option value="2">Female</option>
    </select>
    <input type="text" id="hometown" placeholder="Hometown" class="form-control" name="hometown" />
    <div class="media">
    	<div class="media-middle">
    		<img src="green.jpg" class="media-object custom-image" id="profile-img"/>
    	</div>
    </div>
    <div class="input-file">
    	<input type="file" id="profile_image" name="profile_image"/>
    </div>
    <button type="submit" id="btn-add-user" class="btn btn-default btn-block" >Add</button>
  </div>
</div>