<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"/></script>
    <script type="text/javascript" src="http://127.0.0.1:8081/socket.io/socket.io.js"/></script>
    <script type="text/javascript" src="/js/mySampleObj.js"/></script>
    <script type="text/javascript" src="/js/socket.io-stream.js"/></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://blackrockdigital.github.io/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css">
    <title></title>
  </head>
  <body style="padding:0px;">
    <div id="wrapper">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Add New User
                </div>
                <div class="panel-body">
                  <form method="post" action="/login" id="form-login">
                    <input type="text" id="username" placeholder="Username" name="username" class="form-control" required="required"/>
                    <input type="password" id="password" placeholder="Password" name="password" class="form-control" required="required"/>
                    <button type="submit" id="btn-login" class="btn btn-default btn-block" >Login</button>
                  </form>
                </div>
              </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
    </div>
  </body>
</html>